        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Contactame</h2>
                </div>
                <br><br>
                <div class="row text-center margin-top-30">
                    <div class="col-lg-12 text-center">
                        <label for="instagram">Mi Instagram</label>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/dragonpaws_/" aria-label="instagram"><i class="fab fa-instagram"></i></a>
                        <label for="Facebook">Mi Facebook</label>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/profile.php?id=100009607207593" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <label for="tiktok">Mi TikTok</label>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.tiktok.com/@dragonpaws_" aria-label="tiktok"><i class="fab fa-tiktok"></i></a>
                    </div>
                </div>
                
            </div>
        </section>