<section class="page-section bg-light" id="peliculas">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Películas</h2>
            <h3 class="section-subheading text-muted">Películas que recomiendo.</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 1-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="public/img/peliculas/Dogman (2023).jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Dogman</div>
                        <div class="portfolio-caption-subheading text-muted">2023</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 2-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="public/img/peliculas/Flow.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Flow</div>
                        <div class="portfolio-caption-subheading text-muted">2024</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 3-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="public/img/peliculas/Hacksaw Ridge.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Hacksaw Ridge</div>
                        <div class="portfolio-caption-subheading text-muted">2016</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <!-- Portfolio item 4-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="public/img/peliculas/Chocolat 2000.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Chocolate</div>
                        <div class="portfolio-caption-subheading text-muted">2000</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                <!-- Portfolio item 5-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="public/img/peliculas/Lion.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Lion</div>
                        <div class="portfolio-caption-subheading text-muted">2016</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Portfolio item 6-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="public/img/peliculas/The Wild Robot.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">The Wild Robot</div>
                        <div class="portfolio-caption-subheading text-muted">2024</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 
<!-- Portfolio Modals-->
        <!-- Portfolio item 1 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="public/vendor/template/assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Dogman</h2>
                                    <p class="item-intro text-muted">2023</p>
                                    <img class="img-fluid d-block mx-auto" src="public/img/peliculas/Dogman (2023).jpg" alt="..." />
                                    <p>
                                        "Dogman" es una película que narra la historia de un joven llamado Douglas, quien fue maltratado por su padre y su hermano mayor 
                                        durante su infancia. A través de un viaje de curación y superación personal, Douglas encuentra la salvación en el amor incondicional 
                                        de sus perros. La película explora temas de trauma, amor y la búsqueda de sentido en la vida, ofreciendo una fábula que mezcla elementos de drama, 
                                        thriller y musical. 
                                    </p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Director:</strong>
                                            Luc Besson
                                        </li>
                                        <li>
                                            <strong>Duración:</strong>
                                            1h 54 min
                                        </li>
                                        <li>
                                            <strong>Protagonizada por:</strong>
                                            Caleb Landry Jones
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Cerrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 2 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="public/vendor/template/assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Flow</h2>
                                    <p class="item-intro text-muted">2024</p>
                                    <img class="img-fluid d-block mx-auto" src="public/img/peliculas/Flow.jpg" alt="..." />
                                    <p>
                                        Flow es una película de animación independiente de fantasía y aventuras, se destaca por estar completamente renderizada con Blender, un software libre y de código abierto, y por no contener ningún diálogo.
                                        La trama sigue a un gato que, tras un tsunami que inunda el mundo, se encuentra en un nuevo entorno cubierto de agua, donde la raza humana parece haber desaparecido. En este nuevo mundo, el gato busca refugio en un barco con un grupo de animales, enfrentando sus miedos y aprendiendo a convivir con ellos.
                                    </p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Director:</strong>
                                            	Gints Zilbalodis
                                        </li>
                                        <li>
                                            <strong>Duración:</strong>
                                            1h 20 min
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Cerrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 3 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="public/vendor/template/assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Hacksaw Ridge</h2>
                                    <p class="item-intro text-muted">2016</p>
                                    <img class="img-fluid d-block mx-auto" src="public/img/peliculas/Hacksaw Ridge.jpg" alt="..." />
                                    <p>
                                        En español "Hasta el último hombre", narra la historia real de Desmond Doss, un objetor de conciencia 
                                        que se convirtió en un héroe durante la Segunda Guerra Mundial al salvar a más de 75 hombres en la batalla de Okinawa 
                                        sin disparar un solo tiro.
                                    </p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Director:</strong>
                                            Mel Gibson
                                        </li>
                                        <li>
                                            <strong>Duración:</strong>
                                            2h 19 min
                                        </li>
                                        <li>
                                            <strong>Protagonizada por:</strong>
                                            Andrew Garfield
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Cerrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 4 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="public/vendor/template/assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Chocolate</h2>
                                    <p class="item-intro text-muted">2000</p>
                                    <img class="img-fluid d-block mx-auto" src="public/img/peliculas/Chocolat 2000.jpg" alt="..." />
                                    <p>
                                        Narra la historia de Vianne Rocher, quien llega a un pequeño pueblo francés con su hija Anouk. 
                                        Allí, Vianne abre una chocolatería que no solo transforma el paladar de los habitantes, sino también sus ideologías y 
                                        relaciones interpersonales. A través de sus chocolates, Vianne comienza a cambiar las vidas de los aldeanos, desafiando 
                                        las rígidas normas sociales y religiosas de la comunidad. La película explora temas de amor, aceptación y liberación, y 
                                        se convierte en un símbolo de cambio y transformación en un mundo conservador.
                                    </p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Director:</strong>
                                            Lasse Hallström
                                        </li>
                                        <li>
                                            <strong>Duración:</strong>
                                            2h 1 min
                                        <li>
                                            <strong>Protagonizada por:</strong>
                                            Juliette Binoche
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Cerrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 5 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="public/vendor/template/assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Lion</h2>
                                    <p class="item-intro text-muted">2016</p>
                                    <img class="img-fluid d-block mx-auto" src="public/img/peliculas/Lion.jpg" alt="..." />
                                    <p>
                                        "Lion" es una película basada en la historia real de Saroo Brierley, un joven indio que se pierde a miles de kilómetros de su hogar 
                                        y es adoptado por una familia australiana. Años después, utilizando Google Earth, Saroo emprende un viaje para encontrar a su familia biológica y 
                                        descubrir sus raíces. La película explora temas de identidad, pertenencia y la búsqueda del hogar, destacando la importancia de la familia y el amor incondicional.
                                    </p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Director:</strong>
                                            Garth Davis
                                        </li>
                                        <li>
                                            <strong>Duración:</strong>
                                            1h 58 min
                                        <li>
                                            <strong>Protagonizada por:</strong>
                                            Dev Patel
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Cerrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 6 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="public/vendor/template/assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">The Wild Robot</h2>
                                    <p class="item-intro text-muted">2024</p>
                                    <img class="img-fluid d-block mx-auto" src="public/img/peliculas/The Wild Robot.jpg" alt="..." />
                                    <p>
                                        "The Wild Robot" es una película de animación basada en la novela homónima de Peter Brown. La historia sigue a Roz, un robot que se encuentra varado en una isla desierta tras un naufragio. A medida que Roz explora su entorno, aprende a adaptarse a la vida salvaje y a interactuar con los animales que habitan la isla. A lo largo de la película, Roz desarrolla una relación especial con un grupo de animales y enfrenta desafíos que ponen a prueba su ingenio y habilidades. La película aborda temas como la supervivencia, la amistad y la conexión entre la tecnología y la naturaleza.
                                    </p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Director:</strong>
                                            Chris Sanders
                                        </li>
                                        <li>
                                            <strong>Duración:</strong>
                                            1h 40 min
                                        </li>
                                        <li>
                                            <strong>Protagonizada por:</strong>
                                            Lupita Nyong'o (voz)
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Cerrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>